{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock head %}

{% block title %}로그인{% endblock title %}

{% block contents %}
<div class="stage">
    <!-- 텍스트 추가: Personal / Hobby -->
    <div class="hobby-title personal">Personal</div>
    <div class="hobby-title hobby">Hobby</div>

    <!-- 말풍선 이미지 -->
    <img src="{{ url_for('static', filename='배드민턴.png') }}" id="speech1" class="speech">
    <img src="{{ url_for('static', filename='비행기.png') }}" id="speech2" class="speech">
    <img src="{{ url_for('static', filename='식물.png') }}" id="speech3" class="speech">
    <img src="{{ url_for('static', filename='음악.png') }}" id="speech4" class="speech">

    <!-- 로그인 박스 -->
    <div class="login-box">
        <h2>로그인</h2>
        <form action="{{ url_for('login_done') }}" method="POST">
            <div class="input-group">
                <label for="id">ID</label>
                <input type="text" name="id" id="id" required>
            </div>
            <div class="input-group">
                <label for="pwd">PW</label>
                <input type="password" name="pwd" id="pwd" required>
            </div>
            <button type="submit">로그인</button>
        </form>

        <a href="{{ url_for('signin') }}">회원가입 하러가기</a>
    </div>
</div>
{% endblock contents %}
