{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='quiz_page.css') }}">
{% endblock head %}

{% block title %}퀴즈_3{% endblock title %}
{% block body_class %}quiz quiz-3{% endblock body_class %}

{% block contents %}

<div class="quiz-page">
  <div class="progress-indicator">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle active"></div>
  </div>
  <div class="quiz-content">

    <!-- 폼 -->
    <form id="quizForm" action="{{ url_for('quiz_page3') }}" method="POST">

      <!-- Q15 -->
      <section class="question">
        <div class="q-text">어떤 작업을 할 때 나는</div>
        <div class="answer-box">
          <div class="options">
            <label class="option">
              <input type="radio" name="q15" value="A">
              그 일에 완전히 몰입한다
            </label>
            <label class="option">
              <input type="radio" name="q15" value="B">
              틈틈이 딴짓을 곁들인다
            </label>
          </div>
        </div>
      </section>

      <!-- Q16 -->
      <section class="question">
        <div class="q-text">아직 끝내지 못한 일이 남아있다면</div>
        <div class="answer-box">
          <div class="options">
            <label class="option">
              <input type="radio" name="q16" value="A">
              끝내버려야 속이 편하다
            </label>
            <label class="option">
              <input type="radio" name="q16" value="B">
              중간에 멈춰도 상관없다
            </label>
          </div>
        </div>
      </section>

      <!-- Q17 -->
      <section class="question">
        <div class="q-text">어떤 일에 대해 생각할 때 나는</div>
        <div class="answer-box">
          <div class="options">
            <label class="option">
              <input type="radio" name="q17" value="A">
              한 생각에 오래 머문다
            </label>
            <label class="option">
              <input type="radio" name="q17" value="B">
              쉽게 다른 생각을 한다
            </label>
          </div>
        </div>
      </section>

      <!-- Q18 -->
      <section class="question">
        <div class="q-text">콘텐츠를 볼 때 나는</div>
        <div class="answer-box">
          <div class="options">
            <label class="option">
              <input type="radio" name="q18" value="A">
              끝까지 봐야한다
            </label>
            <label class="option">
              <input type="radio" name="q18" value="B">
              금세 다른 콘텐츠를 탐색한다
            </label>
          </div>
        </div>
      </section>

      <!-- Q19 -->
      <section class="question">
        <div class="q-text">시간 가는 줄 모르게 몰입하는 경험이</div>
        <div class="answer-box">
          <div class="options">
            <label class="option">
              <input type="radio" name="q19" value="A">
              자주 있다
            </label>
            <label class="option">
              <input type="radio" name="q19" value="B">
              그런 경험이 드물다
            </label>
          </div>
        </div>
      </section>

      <!-- Q20 -->
      <section class="question">
        <div class="q-text">집중이 필요한 활동을 하는 것이</div>
        <div class="answer-box">
          <div class="options">
            <label class="option">
              <input type="radio" name="q20" value="A">
              재미있다
            </label>
            <label class="option">
              <input type="radio" name="q20" value="B">
              귀찮다고 느껴진다
            </label>
          </div>
        </div>
      </section>

      <!-- Q21 -->
      <section class="question">
        <div class="q-text">집중을 해야할 때</div>
        <div class="answer-box">
          <div class="options">
            <label class="option">
              <input type="radio" name="q21" value="A">
              뿌듯함을 느끼고 싶어 적극 참여한다
            </label>
            <label class="option">
              <input type="radio" name="q21" value="B">
              피곤해지니 피하고싶다
            </label>
          </div>
        </div>
      </section>


      <div class="nav-area">
        <button class="next-btn" type="submit">결과 확인하기 ❯❯</button>
      </div>
    </form>
  </div>
</div>

{% endblock contents %}

{% block scripts %}
<script src="{{ url_for('static', filename='quiz_page.js') }}"></script>
{% endblock scripts %}