{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='quiz_page.css') }}">
{% endblock head %}

{% block title %}퀴즈_2{% endblock title %}
{% block body_class %}quiz quiz-2{% endblock body_class %}

{% block contents %}

<div class="quiz-page">
  <div class="progress-indicator">
    <div class="circle"></div>
    <div class="circle active"></div>
    <div class="circle"></div>
  </div>
  <div class="quiz-content">

    <!-- 폼 -->
    <form id="quizForm" action="{{ url_for('quiz_page2') }}" method="POST">

      <!-- Q8 -->
      <section class="question">
        <div class="q-text">오랜 시간 침대에 누워있으면 나는</div>
        <div class="answer-box">
          <div class="options">
            <label class="option">
              <input type="radio" name="q8" value="A">
              지루하고 답답하다
            </label>
            <label class="option">
              <input type="radio" name="q8" value="B">
              편안하고 좋다
            </label>
          </div>
        </div>
      </section>

      <!-- Q9 -->
      <section class="question">
        <div class="q-text">하루 일정이 없으면 나는</div>
        <div class="answer-box">
          <div class="options">
            <label class="option">
              <input type="radio" name="q9" value="A">
              뭐라도 하러 나가는 편이다
            </label>
            <label class="option">
              <input type="radio" name="q9" value="B">
              침대와 함께하는 편이다
            </label>
          </div>
        </div>
      </section>

      <!-- Q10 -->
      <section class="question">
        <div class="q-text">혼자있을 때 "심심하다"는 생각이</div>
        <div class="answer-box">
          <div class="options">
            <label class="option">
              <input type="radio" name="q10" value="A">
              자주 든다
            </label>
            <label class="option">
              <input type="radio" name="q10" value="B">
              거의 들지 않는다
            </label>
          </div>
        </div>
      </section>

      <!-- Q11 -->
      <section class="question">
        <div class="q-text">여행지에서 나는</div>
        <div class="answer-box">
          <div class="options">
            <label class="option">
              <input type="radio" name="q11" value="A">
              일찍 나가서 많이 돌아다니는 것을 선호한다
            </label>
            <label class="option">
              <input type="radio" name="q11" value="B">
              느긋한 일정을 선호한다
            </label>
          </div>
        </div>
      </section>

      <!-- Q12 -->
      <section class="question">
        <div class="q-text">행사나 체험 부스를 봤을 때 나는</div>
        <div class="answer-box">
          <div class="options">
            <label class="option">
              <input type="radio" name="q12" value="A">
              최대한 골고루 참여한다
            </label>
            <label class="option">
              <input type="radio" name="q12" value="B">
              참여하지 않는다
            </label>
          </div>
        </div>
      </section>

      <!-- Q13 -->
      <section class="question">
        <div class="q-text">에너지를 쓰지 않아 넘칠 때</div>
        <div class="answer-box">
          <div class="options">
            <label class="option">
              <input type="radio" name="q13" value="A">
              어서 쓰러 나가고싶다
            </label>
            <label class="option">
              <input type="radio" name="q13" value="B">
              계속 아끼고싶다
            </label>
          </div>
        </div>
      </section>

      <!-- Q14 -->
      <section class="question">
        <div class="q-text">외출 후 집에 돌아왔을 때</div>
        <div class="answer-box">
          <div class="options">
            <label class="option">
              <input type="radio" name="q14" value="A">
              다음 외출이 기다려진다
            </label>
            <label class="option">
              <input type="radio" name="q14" value="B">
              한동안 휴식을 취하고싶다
            </label>
          </div>
        </div>
      </section>


      <div class="nav-area">
        <button class="next-btn" type="submit">다음</button>
      </div>
    </form>
  </div>
</div>

{% endblock contents %}

{% block scripts %}
<script src="{{ url_for('static', filename='quiz_page.js') }}"></script>
{% endblock scripts %}