{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='signin.css') }}">
{% endblock head %}

{% block title %}회원가입{% endblock title %}

{% block contents %}
<!-- 플래시 메시지를 버튼 밑에만 출력 -->
<div class="alert-wrapper">
    {% block message %}
      {% with messages = get_flashed_messages(with_categories=true, category_filter=['signin', 'signin_error']) %}
        {% if messages %}
          <ul class="alert-list">
            {% for category, message in messages %}
              <li class="alert alert-{{ category }}">{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    {% endblock %}
</div>


<div class="container">
  <div class="login-box">
    <h2>회원가입</h2>

    <form action="{{ url_for('signin_done') }}" method="POST">
      <!-- 이메일 -->
      <div class="input-group mt-3 mb-1">
        <label for="email">Email</label>
        <input id="email" type="email" name="email" class="form-control"
               placeholder="이메일을 입력하세요" required autocomplete="email">
      </div>

      <!-- 아이디 -->
      <div class="input-group mt-3 mb-1">
        <label for="userid">ID</label>
        <input id="userid" type="text" name="id" class="form-control"
               placeholder="아이디를 입력하세요" required autocomplete="username">
      </div>

      <!-- 비밀번호 -->
      <div class="input-group mt-3 mb-1">
        <label for="pwd">PW</label>
        <input id="pwd" type="password" name="pwd" class="form-control"
               placeholder="비밀번호를 입력하세요" required autocomplete="new-password">
      </div>

      <!-- 이름 -->
      <div class="input-group mt-3 mb-1">
        <label for="name">Name</label>
        <input id="name" type="text" name="name" class="form-control"
               placeholder="이름을 입력하세요" required autocomplete="name">
      </div>

      <!-- 회원가입 버튼 -->
      <button type="submit" class="btn">회원가입 하기</button>
    </form>
  </div>
</div>



{% endblock contents %}
